body {
    margin: 0;
}

.container {
   padding: 10px;
   margin-left: 200px;
   width: 1100px;
}

#sfondo_logo {
    background-color: rgb(145, 224, 250);
    height: 90px;
    background-image: url(../img/pattern.png);
    background-size: 400px;
}

#logo {
    width: 150px;
    padding: 25px;
    margin-left: 13%;
}

.contenitore_principale {
    width: 100%;
    margin: 20px 0 0 10px;
}

#autore {
    color: grey;
}

#nome {
    font-weight: 500;
    color: rgb(46, 157, 242);
}

#data {
    font-size: small;
    color: rgb(154, 154, 154);
}

#Tim1 {
    width: 350px; 
}

#Tim2 {
    width: 300px;
}

.descrizione_foto {
    font-size: small;
}

#highlight {
    font-weight: 300;
    background-color: yellow;
}

#tabella {
    padding: 10px;
}

.colonna_media {
    width: 25%;
}

.colonna_grande {
    width: 50%;
}

.colonna_media,
.colonna_grande {
    text-align: left;
    background-color: rgb(121, 168, 255);
    color: white;
}

.riga_1 {
    background-color: rgb(203, 201, 201);
}

#footer {
    text-align: center;
    font-size: small;
    color: white;
    background-color: rgb(58, 58, 128);
    height: 15px;
    padding: 15px;
}